    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
	body {
		margin: 30px 0px 0px 0px;
		background-image: url(./Images/fondo.png);
		font-family: Arial, Helvetica, sans-serif;
		color: #666;
	}
	.logo {
		width: 370px;
		height: 78px;
		background-image: url(./Images/logo.png);
		margin: auto;
	}
	.logo2 {
		width: 30px;
		height: 30px;
		background-image: url(./Images/logo2.png);
	}
	.jumbotron {
		background-color: #ffffff;
	}