    /* Remove the navbar's default rounded borders and increase the bottom margin */
    html {
		font-size:24px; /* Tamaño para toda la app*/
	}
	@media(min-width:60em){html{font-size: 85%}} /* Tamaño para desktop y iPad*/
	.navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    .jumbotron {
      margin-bottom: 0;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
	body {
    background-image: url("../images/fondo.png");
    font-family: Arial, Helvetica, sans-serif;
		color: #666;
    font-size: 100%;
	}
	.logo {
    max-width: 369px;
    height: 78px;
    display: block;
		background-image: url("../images/logo.png");
		margin: auto;
	}
	.logo2 {
		width: 30px;
		height: 30px;
    background-image: url("../images/logo2.png");
	}
	.jumbotron {
		background-color: #ffffff;
	}
	.container2 { /*Container de la vista de entrega*/
		max-width: 60em;
		@include make-container();
		padding-right: 2.5px;
	}