<!DOCTYPE html>
<html lang="es">
<head>
  <title>Mapa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../styles/Kokusai_estilo.css"/>
</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <div class="logo">&nbsp;</div>
      <p class="text-success">Mapa</p>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
    <div class="row">
      <div class="panel-body">
        <img src="../images/mapa.png" class="img-responsive" alt="Image"></div>
    </div><br>
      <div class>
        <a class ="btn btn-warning btn-lg btn-block" href="../views/cliente_perfil.html">Volver</a>
      </div>
    </div>
  </div>
</body>
</html>