<!DOCTYPE html>
<div ng-controller="CPerfilCtrl"/>
<html lang="es">
<head>
  <title>Perfil</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../styles/Kokusai_estilo.css"/>
</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <div class="logo">&nbsp;</div>
      <p class="text-success">Adminstrador</p>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <div>
        <a class ="btn btn-success btn-lg btn-block" href="http://localhost:9000/#!/cliente_reportes">Reportes</a>
    </div><br>
      <div >
        <a class ="btn btn-success btn-lg btn-block" href="http://localhost:9000/#!/cliente_mapa">Puntos de Entrega</a>
      </div><br>
      <div>
        <a class ="btn btn-danger btn-lg btn-block" href="http://localhost:9000/#!/cliente_iniSesion">Log Out</a>
      </div><br>
    </div>
  </div>
  <br>
</body>
</html>