<!DOCTYPE html>
<div ng-controller="buscadorCtrl"/>
<html lang="es">
<head>
  <title>Tabla de entregas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../styles/Kokusai_estilo.css"/>
</head>

<body>
<div class="jumbotron">
    <div class="container text-center">
      <div class="logo">&nbsp;</div>
      <p class="text-success">Tabla de entregas</p>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
    	<div class="input-group">
   			<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    		<input type="text" class="search form-control" placeholder="Buscar producto" ng-model="search">
    	</div><br>
    	<div class="table-responsive">
		  <table class="table table-hover table-bordered results">
		    <thead>
		    <tr>
		      <th>Direcci&oacute;n</th>
		      <th>Total</th>
		      <th>Select</th>
		    </tr>
		    </thead>
		    <tbody>
		    <tr ng-repeat="prod in modelo.entregas | filter:search">
		      <td>{{prod.direccion}}</td>
		      <td>{{prod.total}}</td>
          <td><a class="btn btn-success" ng-click="enviarControlador(prod)">Select</a></td>
		    </tr>
		    </tbody>
		  </table>
		</div>
    </div>
  </div>
</body>
</html>