<!DOCTYPE html>
<div ng-controller="IniSesCtrl"/>
<html lang="es">
<head>
  <title>Aplicaci&oacute;n repartidor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../styles/Kokusai_estilo.css"/>
</head>

</head>

<body>

<div class="jumbotron">
  <div class="container text-center">
    <div class="logo">&nbsp;</div>
    <p class="text-success">Aplicaci&oacute;n Repartidor logeado {{logeado}}</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <div class="form-group">
      <div class>
        <label>Repartidor:</label>
        <input type="text" class="form-control" name="username" ng-model="username">
      </div><br>
    </div>
    <div class>
      <div class>
        <label>Contrase&ntilde;a:</label>
        <input type="password" class="form-control" name="password" ng-model="password">
      </div>
    </div><br>
    <div class>
      <a class="btn btn-success btn-lg btn-block" ng-click="login()">Iniciar Sesión</a>
      <a class="btn btn-success btn-lg btn-block" ng-click="listado()">Hue Sesión</a>
    </div>
    <div class><br>
      <a class="btn btn-lg btn-warning btn-block" href="http://localhost:9000/#!/Kokusai_main">Regresar</a>
    </div>
  </div>
</div>
</body>
</html>
