<!DOCTYPE html>
<div ng-controller="GeoCtrl"/>
<html lang="es">
<head>
  <title>Orden de entrega</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../styles/Kokusai_estilo.css"/>
</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <div class="logo">&nbsp;</div>
      <p class="text-success">Orden de entrega</p>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <div class>
        <h4>No. orden: </h4>
        1234567890
    </div>
    <br>
      <div class>
        <h4>Fecha de entrega: </h4>
        11/Feb/2017
    </div>
    <br>
      <div class>
        <h4>Producto: </h4>
        Flor Essence
    </div>
    <br>
    <div class>
      <h4>Total: </h4>
      $500 (2 productos)
    </div>
    <br>
    <div class>
      <h4>Latitude: {{location.coords.latitude}}</h4>
    </div>
    <div class>
    <h4>Longitude: {{location.coords.longitude}}</h4>
    </div>
    <br>
    <div class>
        <h4>Repartidor: </h4>
      <select class="form-control" id="repartidor">
        <option>Estela T&eacute;llez</option>
        <option>Jorge Sanchez</option>
        <option>Guadalupe Jim&eacute;nez</option>
        <option>Joaquín González</option>
      </select>
    </div>
    <br>
    <div class>
        <h4>Cliente: </h4>
        <input type="text" class="form-control" id="cliente">
    </div>
    <br><br>
      <div class>
        <a class ="btn btn-success btn-lg btn-block" href="../views/repartidor_exito.html">Confirmar</a>
      </div><br>
    </div>
  </div>
  <br><br><br>
</body>
</html>
