<!DOCTYPE html>
<html lang="es">
<head>
  <title>Checkout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../styles/Kokusai_estilo.css"/>
</head>

<body>

<div class="jumbotron">
  <div class="container text-center">
    <div class="logo">&nbsp;</div>
    <p class="text-success">Checkout</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://kokusai.mx/"><div class="logo2">&nbsp;</div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="../index.html"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        <li><a href="../views/tienda_contacto.html"><span class="glyphicon glyphicon-earphone"></span> Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <div class="form-group">
      <div>
        <label for="direccion">Direcci&oacute;n:</label>
        <input type="text" class="form-control" id="direccion">
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="colonia">Colonia:</label>
        <input type="text" class="form-control" id="colonia">
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="delegacion">Delegaci&oacute;n:</label>
        <input type="text" class="form-control" id="delegacion">
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="cp">C&oacute;digo Postal (CP):</label>
        <input type="text" class="form-control" id="cp">
      </div>
    </div>
    <div>
      <a class ="btn btn-success btn-lg btn-block" href="../views/tienda_pagoEfectivo.html">Pago en efectivo</a>
      <br>
      <a class ="btn btn-success btn-lg btn-block" href="../views/tienda_pagoTarjeta.html">Pago en tarjeta</a>
    </div>
  </div>
</div>
</body>
</html>
